<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
</head>
<body>
	<div class="Container" style="text-align: center">
		{% include 'navbar.html' %}
	</div>
	<header>
		<h1>About Us</h1>
	</header>
	<main>
		<section>
			<h2>Our Mission</h2>
			<p>Insert your mission statement here.</p>
		</section>A
		<section>
			<h2>Our Story</h2>
			<p>Insert a brief history of your organization or website here.</p>
		</section>
		<section>
			<h2>Our Team</h2>
			<p>Insert information about your team members, including their names, job titles, and brief bios.</p>
		</section>
		<section>
			<h2>Contact Us</h2>
			<p>Insert your contact information, including your email address, phone number, and physical address (if applicable).</p>
		</section>
	</main>
</body>
</html>
